<style>
    h1 {
        font-size: 4em;
    }

    h3 {
        text-align: center;
    }
</style>

<div class="center-both">
    <img src="/logo.svg" alt="Nginx Admin UI Logo" width="300">
    <br>
    <h1>Welcome to EmojiManager</h1>
    <h3>If you find any
        issues,
        please report them to <a href="https://github.com/Joyte/emojiManager/issues" target="_blank">the issues
            page</a>.</h3>

</div>