<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nginx Admin UI</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body>
    <header>
        <nav>
            <ul id="navlist">
                <li to="home" display="Home">
                    <i class="logo-display"></i>
                    <h1>Emoji Manager</h1>
                </li>
                <li to="manage"><i class="fa-solid fa-wrench"></i> Manage Emojis</li>
                <li to="admin"><i class="fa-solid fa-lock"></i> Admin Settings</li>
            </ul>
        </nav>
        <div>
            <div id="alerts">
            </div>
            <a href="https://github.com/Joyte/emojiManager" target="_blank" id="credit">
                <i class="fa-brands fa-github"></i>Made
                with
                <i style="color: tomato" class="fa-solid fa-heart"></i>
            </a>
        </div>
    </header>
    <main></main>
</body>

</html>